In [1]:
import pathlib
import usability

## Welche Daten für welche Hypothese?

### Effizienz

1. Klicks
2. Tastatur
2. NASA

### Zufriedenheit

1. QUESI
2. Feedback

### Effektivität
1. Anzahl Fehler
2. Anzahl Hilfestellungen

## Pfad zu den Daten

In [2]:
directory = pathlib.Path("data", "collection")

## `Sample` Objekt

In [3]:
sample = usability.Sample(directory)

## Prä-Fragebogen

In [4]:
sample.pre

,alter,beschäftigung,bildungsabschluss,geschlecht,pseudonym,vorkenntnisse
0,22,MCS,Gymnasium (Abitur),männlich,AIGÖAU,nein
1,28,MCS,Gymnasium (Abitur),weiblich,ANSCJA,nein
2,28,Digital Humanities,Universitäts-/Hochschulabschluss,weiblich,ADUMFE,nein

## NASA

In [5]:
sample.nasa

  pseudonym      score survey      website
0    AIGÖAU  26.666667   nasa  spreadshirt
1    AIGÖAU  42.500000   nasa  shirtinator
2    ANSCJA  69.166667   nasa  spreadshirt
3    ANSCJA  84.166667   nasa  shirtinator
4    ADUMFE  18.333333   nasa  spreadshirt
5    ADUMFE  33.333333   nasa  shirtinator

### Beispiel: Nur Werte für Spreadshirt anzeigen

In [6]:
sample.nasa[sample.nasa["website"] == "spreadshirt"]

  pseudonym      score survey      website
0    AIGÖAU  26.666667   nasa  spreadshirt
2    ANSCJA  69.166667   nasa  spreadshirt
4    ADUMFE  18.333333   nasa  spreadshirt

## QUESI

In [7]:
sample.quesi

  pseudonym  score survey      website
0    AIGÖAU    1.9  quesi  shirtinator
1    AIGÖAU    3.9  quesi  spreadshirt
2    ANSCJA    1.0  quesi  shirtinator
3    ANSCJA    1.7  quesi  spreadshirt
4    ADUMFE    3.0  quesi  shirtinator
5    ADUMFE    3.8  quesi  spreadshirt

## Feedback

In [8]:
sample.feedback

   negativ  positiv pseudonym      website
0        8       18    AIGÖAU  spreadshirt
1       21        8    AIGÖAU  shirtinator
2        4        7    ANSCJA  spreadshirt
3       15        4    ANSCJA  shirtinator
4        4       83    ADUMFE  spreadshirt
5        2       10    ADUMFE  shirtinator

## Tastatur

In [9]:
sample.keyboard

  pseudonym  tastenschläge      website
0    AIGÖAU             56  shirtinator
1    AIGÖAU             41  spreadshirt
2    ANSCJA             36  shirtinator
3    ANSCJA             25  spreadshirt
4    ADUMFE             37  shirtinator
5    ADUMFE             33  spreadshirt

## Maus

In [10]:
sample.mouse

   clicks pseudonym      website
0     132    AIGÖAU  shirtinator
1      88    AIGÖAU  spreadshirt
2     172    ANSCJA  shirtinator
3     117    ANSCJA  spreadshirt
4      87    ADUMFE  shirtinator
5     122    ADUMFE  spreadshirt

## Optimale Stichprobengröße

In [11]:
directory = pathlib.Path("data", "pilot")
pilot = usability.Sample(directory)
print(f"MEDIAN: {pilot.optimal_size(alpha=0.16, power=0.7)}")

Optimal size for NASA: 24.34136957801515

Optimal size for QUESI: 4558.888202856723

Optimal size for Feedback positiv: 37.68834239797309

Optimal size for Feedback negativ: 24.476142866783565

Optimal size for Tastatur: 2.822379267967262

Optimal size for Maus: 23.38653993831813

MEDIAN: 24.408756222399358